/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-background-nav;
    margin: 15px;
    position: sticky;
    top: 0;
    z-index: 99;
    
}

.nav-link:hover {
    transition: 0300ms;
    background-color: $color-red;
    color: $color-transition-nav;
}

.navbar-brand:hover {
    transition: 0300ms;
    background-color: $color-red;
    color: $color-transition-nav;
}